/* Add styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 5px 20px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0a0a0a;
}

.logo img {
    width: 100px;
}

input[type="text"] {
    background: url(https://cdn3.iconfinder.com/data/icons/feather-5/24/search-512.png) #cfcfcf;
    background-size: contain;
    background-position-x: 10px;
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding: 10px 15px;

}